<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="card border-secondary mb-3 mx-auto">
    <div class="card-header">About Us</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Best Cars</h5>
      <p class="card-text">Welcome to Best Cars dealership, home to the best cars in North America. 
        We sell domestic and imported cars at reasonable prices.</p>
    </div>

</html>