<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="card border-secondary mb-3 mx-auto">
    <div class="card-header">Contact Us</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Address</h5>
      <p class="card-text">Best Cars Address</p>
      <h5 class="card-title">Telephone Number</h5>
      <p class="card-text">(+1) 111-1111</p>
    </div>

</html>